<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<link type="text/css" rel="stylesheet" th:href="@{/resources/css/bootstrap.css}"/>
<meta charset="ISO-8859-1"/>
<title>CRM</title>
</head>
<body>
	<nav class="navbar navbar-inverse">
      <div class="container">
        <div class="navbar-header">  
        	<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
	            <span class="sr-only">Toggle navigation</span>
	            <span class="icon-bar"></span>
	            <span class="icon-bar"></span>
	            <span class="icon-bar"></span>
           </button>        
          <a class="navbar-brand" href="#" th:text="#{header.project}"></a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav navbar-right">
            <li ><a th:href="@{/entreprises}" th:text="#{header.entreprise}"></a></li>            
            <li><a th:href="@{/contact}" th:text="#{header.contact}"></a></li>
            <li><a href="#" th:text="#{header.login}"></a></li>
            <li ><a th:href="@{?lang=nl}"><img alt="Nederlands" width="20" height="20" th:src="@{/resources/img/nl.png}"/></a></li>
            <li ><a th:href="@{?lang=en}"><img alt="English" width="20" height="20" th:src="@{/resources/img/en.png}"/></a></li>
            
          </ul>
        </div><!-- /.nav-collapse -->
      </div><!-- /.container -->
    </nav><!-- /.navbar -->
	
	<div class="container" layout:fragment="content">	
	
	</div>
	
	<footer>
        <p class="bg-primary text-center"> &copy; 2016 Company, Inc.</p>
    </footer>
  	<script type="text/javascript" th:src="@{/resources/js/jquery-2.1.4.min.js}"></script>
  	<script type="text/javascript" th:src="@{/resources/js/bootstrap.min.js}"></script>
</body>
</html>